/* src/index.css */

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.task-card {
  border: 1px solid;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
}

.tab-active {
  background-color: lightgray;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.general-text {
    text-align: center;
}

.category-list li {
  margin-bottom: 0.5rem;
}

.red-card { border-color: red; }
.blue-card { border-color: blue; }
.green-card { border-color: green; }
.orange-card { border-color: orange; }
.purple-card { border-color: purple; }

.red { background-color: red; }
.blue { background-color: blue; }
.purple { background-color: purple; }
.green { background-color: green; }
.orange { background-color: orange; }